openapi: 3.1.0
info:
  description: Public Ardent API. Generated by scripts/export_public_openapi.py — do not edit by hand.
  title: Ardent v1-api-keys v1-orgs API
  version: v1
servers:
- url: https://api.tryardent.com
tags:
- name: v1-orgs
paths:
  /v1/orgs/{org_id}:
    delete:
      operationId: delete_org_v1_orgs__org_id__delete
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Delete Org
      tags:
      - v1-orgs
    get:
      operationId: get_org_details_v1_orgs__org_id__get
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Get Org Details V1 Orgs  Org Id  Get
                type: object
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Get Org Details
      tags:
      - v1-orgs
    patch:
      operationId: update_org_v1_orgs__org_id__patch
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update Org
      tags:
      - v1-orgs
  /v1/orgs/{org_id}/invite:
    post:
      operationId: invite_user_to_org_v1_orgs__org_id__invite_post
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Invite User To Org V1 Orgs  Org Id  Invite Post
                type: object
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Invite User To Org
      tags:
      - v1-orgs
  /v1/orgs/{org_id}/invites:
    get:
      operationId: list_pending_invites_v1_orgs__org_id__invites_get
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  additionalProperties: true
                  type: object
                title: Response List Pending Invites V1 Orgs  Org Id  Invites Get
                type: array
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: List Pending Invites
      tags:
      - v1-orgs
  /v1/orgs/{org_id}/invites/{invite_id}:
    delete:
      operationId: revoke_invite_v1_orgs__org_id__invites__invite_id__delete
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      - in: path
        name: invite_id
        required: true
        schema:
          title: Invite Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Revoke Invite
      tags:
      - v1-orgs
  /v1/orgs/{org_id}/members:
    get:
      operationId: list_org_members_v1_orgs__org_id__members_get
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  additionalProperties: true
                  type: object
                title: Response List Org Members V1 Orgs  Org Id  Members Get
                type: array
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: List Org Members
      tags:
      - v1-orgs
  /v1/orgs/{org_id}/members/{target_user_id}:
    delete:
      operationId: remove_org_member_v1_orgs__org_id__members__target_user_id__delete
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      - in: path
        name: target_user_id
        required: true
        schema:
          title: Target User Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Remove Org Member
      tags:
      - v1-orgs
    patch:
      operationId: update_member_role_v1_orgs__org_id__members__target_user_id__patch
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      - in: path
        name: target_user_id
        required: true
        schema:
          title: Target User Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRoleRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Update Member Role V1 Orgs  Org Id  Members  Target User Id  Patch
                type: object
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update Member Role
      tags:
      - v1-orgs
  /v1/orgs/{org_id}/roles:
    get:
      operationId: list_org_roles_v1_orgs__org_id__roles_get
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          title: Org Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  additionalProperties: true
                  type: object
                title: Response List Org Roles V1 Orgs  Org Id  Roles Get
                type: array
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: List Org Roles
      tags:
      - v1-orgs
components:
  schemas:
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    UpdateOrgRequest:
      properties:
        name:
          description: New organization name
          maxLength: 100
          minLength: 1
          title: Name
          type: string
      required:
      - name
      title: UpdateOrgRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    InviteUserRequest:
      properties:
        email:
          description: Email address to invite
          title: Email
          type: string
        role_key:
          default: member
          description: Role to assign (owner/admin/member/viewer)
          title: Role Key
          type: string
      required:
      - email
      title: InviteUserRequest
      type: object
    UpdateMemberRoleRequest:
      properties:
        role_key:
          description: New role to assign (owner/admin/member/viewer)
          title: Role Key
          type: string
      required:
      - role_key
      title: UpdateMemberRoleRequest
      type: object
  securitySchemes:
    bearerAuth:
      description: Ardent API key (sk-ard_live_… / sk-ard_test_…) or a dashboard session token.
      scheme: bearer
      type: http
