openapi: 3.1.0
info:
  description: Public Ardent API. Generated by scripts/export_public_openapi.py — do not edit by hand.
  title: Ardent v1-api-keys v1-operations API
  version: v1
servers:
- url: https://api.tryardent.com
tags:
- name: v1-operations
paths:
  /v1/operations/{operation_id}:
    get:
      operationId: get_operation_endpoint_v1_operations__operation_id__get
      parameters:
      - in: path
        name: operation_id
        required: true
        schema:
          title: Operation Id
          type: string
      - description: Optionally wait up to this many seconds for a terminal operation state. Omit for the existing immediate poll response.
        in: query
        name: wait
        required: false
        schema:
          anyOf:
          - maximum: 10.0
            minimum: 0
            type: number
          - type: 'null'
          description: Optionally wait up to this many seconds for a terminal operation state. Omit for the existing immediate poll response.
          title: Wait
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResponse'
          description: Current operation state. On `completed`, `result` holds the outcome — for `branch_create`, the full branch details.
        '404':
          description: Operation not found (or not visible to the caller).
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Get Operation Endpoint
      tags:
      - v1-operations
components:
  schemas:
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    OperationStatus:
      enum:
      - pending
      - running
      - completed
      - failed
      title: OperationStatus
      type: string
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    OperationType:
      enum:
      - connector_engine_setup
      - connector_reset
      - connector_deep_reset
      - connector_discovery
      - connector_delete
      - connector_secret_purge
      - connector_rollout
      - connector_replication_rollback
      - connector_debezium_cutover
      - connector_debezium_shadow_cleanup
      - environment_deploy
      - environment_destroy
      - branch_create
      - branch_delete
      title: OperationType
      type: string
    AsyncOperationResponse:
      properties:
        completed_at:
          anyOf:
          - type: string
          - type: 'null'
          description: When the operation finished. Null until then.
          title: Completed At
        created_at:
          description: When the operation was created.
          title: Created At
          type: string
        error:
          anyOf:
          - type: string
          - type: 'null'
          description: Error message when the operation failed.
          title: Error
        id:
          description: Operation ID.
          title: Id
          type: string
        org_id:
          description: Organization the operation belongs to.
          title: Org Id
          type: string
        progress:
          anyOf:
          - maximum: 100.0
            minimum: 0.0
            type: integer
          - type: 'null'
          description: Best-effort completion percentage. Null when no estimate is available.
          title: Progress
        resource_id:
          anyOf:
          - type: string
          - type: 'null'
          description: ID of the resource the operation acts on (the branch ID for branch create).
          title: Resource Id
        result:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: Result payload on completion; for branch create, includes `branch_url`.
          title: Result
        setup_status:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: Connector setup progress detail. Present only for connector engine setup.
          title: Setup Status
        stage:
          anyOf:
          - type: string
          - type: 'null'
          description: Raw progress token, kept for released CLIs. Read `stage_label` instead.
          title: Stage
        stage_label:
          anyOf:
          - type: string
          - type: 'null'
          description: Human-readable stage; null means the operation has not started yet.
          title: Stage Label
        started_at:
          anyOf:
          - type: string
          - type: 'null'
          description: When work started. Null until then.
          title: Started At
        status:
          $ref: '#/components/schemas/OperationStatus'
          description: Current status. `completed` and `failed` are terminal.
        type:
          $ref: '#/components/schemas/OperationType'
          description: The kind of work this operation tracks, for example `branch_create`.
        updated_at:
          description: When the operation was last updated.
          title: Updated At
          type: string
      required:
      - id
      - org_id
      - type
      - resource_id
      - status
      - created_at
      - updated_at
      title: AsyncOperationResponse
      type: object
  securitySchemes:
    bearerAuth:
      description: Ardent API key (sk-ard_live_… / sk-ard_test_…) or a dashboard session token.
      scheme: bearer
      type: http
